@model QuestionViewModel

@{
    ViewData["Title"] = "Вопрос";
    var questionOptionsList = Model.QuestionOptions.ToList();
    //int selectedAnswerIndex = 0;
}


<h2>@Model.Text</h2>

    <form asp-action="Answer" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        @for (int i = 0; i < questionOptionsList.Count; i++)
        {
            
                <div>
                    
                    <button type="submit" name="selectedAnswerIndex" value="@i">@questionOptionsList[i].Text</button>
                    <br />
                    <br />
                </div>

        }

        <div class="text-right">
            <a role="button" class="btn btn-secondary btn-lg mx-2" asp-controller="Marathon" asp-action="Explanation" asp-route-id="@Model.Id" title="Пояснение к вопросу" style="font-weight: bold; font-size: 24px;">?</a>
        </div>


        <a role="button" class="btn btn-secondary btn-lg mx-2" asp-controller="Home" asp-action="Index">Завершить Марафон</a>

    </form>


@*@if ((Model.Id) == ViewBag.CountOfQuestions)
{
    <h2>Марафон завершен!!!</h2>
    <a class="btn btn-primary btn-lg" asp-controller="Home" asp-action="Index">Вернуться на главную</a>
}
else
{
    
}*@



